.axe-markdown {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 1rem; }
  .axe-markdown > h1 {
    margin-top: 0;
    margin-bottom: 3rem;
    font-size: 3rem; }
  .axe-markdown > h2 {
    margin-top: 3rem;
    margin-bottom: 1rem;
    border-left: 5px solid #FFA38C;
    padding-left: 0.75rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    font-size: 2.25rem; }
  .axe-markdown > h3 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 1.7125rem; }
  .axe-markdown > h4 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-style: italic; }
  .axe-markdown > h5 {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    font-size: 1.375rem;
    font-style: italic;
    font-weight: 400; }
  .axe-markdown > table {
    margin-top: 2rem;
    font-size: 1rem;
    border-spacing: 0;
    border-collapse: collapse; }
    .axe-markdown > table th {
      background: #151515;
      color: white; }
    .axe-markdown > table td, .axe-markdown > table th {
      margin: 0;
      padding: 0.5rem;
      border: solid 1px #DDDDDD;
      text-align: left;
      vertical-align: top; }
    .axe-markdown > table tr:hover > td {
      background: #FFEFE8; }
  .axe-markdown .axe-markdown-props-table td {
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 0.75rem; }
  .axe-markdown .axe-markdown-props-table__is-required {
    text-align: center; }
  .axe-markdown .axe-markdown-props-table__inner {
    font-size: 0.6875rem;
    line-height: 1.2;
    margin: 0.45rem 0 0.45rem 0.65rem;
    padding: 0.3rem 0 0.3rem 0.35rem;
    background: #FFF7FA; }
    .axe-markdown .axe-markdown-props-table__inner-next-line {
      padding-left: 1.25rem;
      line-height: 1.5; }
    .axe-markdown .axe-markdown-props-table__inner:hover {
      background: #FFCDCF; }
    .axe-markdown .axe-markdown-props-table__inner .axe-markdown-props-table__inner {
      background: #EEFFE7; }
      .axe-markdown .axe-markdown-props-table__inner .axe-markdown-props-table__inner:hover {
        background: #FDB3FF; }
      .axe-markdown .axe-markdown-props-table__inner .axe-markdown-props-table__inner .axe-markdown-props-table__inner {
        background: #FFEEFB; }
        .axe-markdown .axe-markdown-props-table__inner .axe-markdown-props-table__inner .axe-markdown-props-table__inner:hover {
          background: #A477FF; }
  .axe-markdown .axe-markdown-props-table__default-props {
    white-space: pre; }
  .axe-markdown .axe-markdown-props-table__object-shape-key {
    font-weight: bold; }
  .axe-markdown__render--with-source {
    border: solid 1px #FFA38C;
    border-radius: 3px;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
    margin-bottom: 1rem; }
  .axe-markdown .axe-markdown__render--with-source .axe-markdown__render-result {
    padding: 1rem; }
  .axe-markdown__render-source {
    background: #151515;
    padding: 1rem;
    white-space: pre-wrap;
    margin: 0;
    line-height: 1.4;
    position: relative;
    letter-spacing: -0.2px;
    font-size: inherit;
    caret-color: white;
    color: #FFFFFF; }
    .axe-markdown__render-source::selection {
      color: white;
      background: #d4ffdd; }
    .axe-markdown__render-source::-moz-selection {
      color: white;
      background: #d4ffdd; }
    .axe-markdown .axe-markdown__render-result + .axe-markdown__render-source {
      border-top: 1px #FFA38C solid; }
    .axe-markdown__render-source .token.selector {
      color: #66CCCC; }
    .axe-markdown__render-source .token.punctuation {
      color: #FFA38C; }
    .axe-markdown__render-source .token.property {
      color: #FFAF60; }
    .axe-markdown__render-source .token.comment {
      color: #9A9A9A; }
    .axe-markdown__render-source .token.attr-name {
      color: #00EE3A; }
    .axe-markdown__render-source .token.attr-value {
      color: #9A9A9A; }
    .axe-markdown__render-source .token.tag {
      color: #4EB4FF; }
    .axe-markdown__render-source .token.string {
      color: #CCCCCC; }
    .axe-markdown__render-source .token.operator {
      color: #DA0000; }
    .axe-markdown__render-source .token.keyword {
      color: #6DFF81;
      font-weight: bold; }
    .axe-markdown__render-source .token.class-name {
      color: #FC8DFF; }
    .axe-markdown__render-source .token.function {
      color: #4EB4FF; }
    .axe-markdown__render-source .token.delimiter {
      color: #FF0000; }
    .axe-markdown__render-source .token.variable {
      color: #DA698F; }
    .axe-markdown__render-source .token.number {
      color: #A859FF;
      font-weight: bold; }
    .axe-markdown__render-source .token.package {
      color: #DA71B9; }
    .axe-markdown__render-source .token.title {
      color: #8EB8DA; }
    .axe-markdown__render-source--line-numbers-padding {
      padding-left: 3.8em; }
    .axe-markdown__render-source--with-line-numbers {
      position: relative;
      counter-reset: linenumber; }
      .axe-markdown__render-source--with-line-numbers > code {
        white-space: inherit; }
      .axe-markdown__render-source--with-line-numbers .line-numbers-rows {
        position: absolute;
        pointer-events: none;
        top: 1rem;
        font-size: 100%;
        left: 0;
        width: 3em;
        /* works for line-numbers below 1000 lines */
        letter-spacing: -1px;
        border-right: 1px solid #999999;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none; }
        .axe-markdown__render-source--with-line-numbers .line-numbers-rows > span {
          pointer-events: none;
          display: block;
          counter-increment: linenumber; }
          .axe-markdown__render-source--with-line-numbers .line-numbers-rows > span::before {
            content: counter(linenumber);
            color: #999999;
            display: block;
            padding-right: 0.8em;
            text-align: right; }

@keyframes axe-markdown-delay-appearance {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
  .axe-markdown__restore-source {
    opacity: 0;
    animation: axe-markdown-delay-appearance 0.3s 0.2s forwards;
    border: solid 2px white;
    border-radius: 3px;
    background: #ff7070;
    color: white;
    padding: 0.25rem 0.5rem;
    cursor: pointer;
    font-weight: bold;
    font-size: 0.75rem; }
    .axe-markdown__restore-source:hover {
      background: #ff8383; }
